*.port
*.pid
*.uml
*.md

.gradle/


gradle/
*/build/*
*/bin/*
*/npm_modules/*
*/bower_components/*
*/.settings/*
*/bin/*
*/build/*
*/uploads/*

config/
scripts/
cis-scripts/
cis-email-service/
cis-student-records/

.env
.env**

application-*.yml
!application-env.yml